<section class="p-5 flex grow flex-col gap-4 justify-center backdrop-blur-sm border border-white">
    <p class="text-base text-sky-400">Hola, soy</p>
    <h1 class="text-6xl font-bold ">Xosed Peñaloza.</h1>
    <h1 class="text-6xl font-bold opacity-50">Ingeniero de software.</h1>
    <h2 class="text-base w-3/4 text-sky-200">Soy un ingeniero de software especializado en la creación de soluciones digitales. Desde el diseño de landing pages hasta la implementación de servicios de integración para múltiples plataformas y aplicaciones. Mi enfoque se centra en desarrollar software que no solo resuelve problemas, sino que también anticipa las necesidades futuras.</h2>
    <button class=" w-36 p-2 border rounded border-sky-400 text-sky-400">Descargar CV</button>
</section>