---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Mail from "../components/Mail.astro";
import CV from "../components/main/CV.astro";
import Background from '../components/Background.astro'
---

<Background />
<Layout title="Xosed Peñaloza Portfolio">
	<main class="pt-1 px-1">
		<Header />
		<div class="main-content flex flex-row gap-1">
			<Socials />
			<CV />
			<Mail />
		</div>
	</main>
</Layout>
