<section
    class="w-1/12 h-[39.5rem] px-5 text-white flex justify-center align-bottom self-end backdrop-blur-sm"
>
    <ul class="flex flex-col justify-end gap-4 text-center">
        <li class="mail hover:text-sky-400">xosedfabian@gmail.com</li>
        <li class="line"></li>
    </ul>
</section>

<style>
    .mail {
        transform: rotate(90deg) translateX(-80px) translateY(0px);
    }

    .line::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: #fff;
    }
</style>
