<section
class="h-[39.5rem] max-w-16 overflow-x-hidden px-5 flex flex-none justify-center align-bottom backdrop-blur-sm border border-white"
>
    <ul class="flex flex-col justify-end gap-4 text-center">
        <li class="mail opacity-50 hover:opacity-100 hover:text-sky-400 rotate-90 translate-x-[0px] translate-y-[-80px] tracking-wider">xosedfabian@gmail.com</li>
        <li class="line"></li>
    </ul>
</section>

<style>
    .line::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: #fff;
    }
</style>
